Relax (or remove) trailer processing requirement

> The user-agent MUST process Server-Timing header field communicated via a trailer field (see [RFC7230] section 4.1.2) using the same algorithm.

Given that most UA's don't support trailers, we shouldn't make this a normative requirement. Also, per discussion in https://github.com/whatwg/fetch/issues/34#issuecomment-126267968, the intent there was to make trailer fields as an FYI only. 

Given the current state of things, I propose we either (a) move this content into a non-normative note "user agent could x, y, z", or remove it entirely for time being, until there is wide(r) UA support for trailers.

Thoughts?

Good catch @igrigorik! Next to the trailer section, I left this in the source:
```
<!-- TODO(cvazac) Should this be a MUST? -->
```

I think most would agree that it should not be a `MUST`. I haven't verified, but it looks like Mozilla shipped support for trailers (https://bugzilla.mozilla.org/show_bug.cgi?id=1423495). So, I don't think removing that section is right either. 

Switching `MUST` to `MAY` might be enough here.

That seems reasonable to me. 

@sleevi any objections?

Closing, resolved via https://github.com/w3c/server-timing/pull/60.